.author {
    display: flex;
    flex-direction: column;;
    flex-wrap: nowrap;
    align-items: center;
    padding: 40px;
    margin: 40px;;
    color: #333;
}

.author a {
    text-decoration: none;
    color: #333;
}


.avatar-with-citation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
}

.authors-avatar {
    grid-area: 1 / 1 / 5 / 3;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.author-name {
    grid-area: 1 / 3 / 3 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbdbdb;
    border: #dbdbdb solid 1px;
    border-radius: 8px;
    padding: 10px;
}

.author-citation {
    grid-area: 3 / 3 / 5 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbdbdb;
    border: #dbdbdb solid 1px;
    border-radius: 8px;
    padding: 10px;
}


.author-picture {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.author-name {
    margin: 10px;
}

.author-biography {
    text-align: left;
    margin: 10px 10%;
    background-color: #dbdbdb;
    border-radius: 16px;
    border: #dbdbdb solid 1px;
    border-radius: 8px;
    padding: 40px;
}

/* Mobile Styles */
@media (max-width: 768px) {

    .authors-container-wrap {
        padding: 10px;
    }

    .authors-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
}