@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

nav img {
    width: 250px;
    height: auto;
    margin-right: 10px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}

nav button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.mobile-nav {
    display: none;
}

.menu-icon {
    display: none;
}

.searchbar {
    padding: 11.5px !important;
    border: 1px solid #ccc;
    border-radius: 6px !important;
    margin-right: 10px !important;
}

.searchbar:focus-visible {
    outline: none;
}

.search-button {
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.category-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category {
    z-index: 1;
    width: 100px;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.category::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 0;
    background-size: 85px;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 0.3s;
    opacity: 0;
}

.category:hover::before {
    transform: rotate(90deg);
    opacity: 100%;
}

.category-1::before {
    background-image: url(../images/zupy.png);
}

.category-2::before {
    background-image: url(../images/dania-glowne.png);
}

.category-3::before {
    background-image: url(../images/desery.png);
}

.category-4::before {
    background-image: url(../images/przekąski.png);
}

.category-5::before {
    background-image: url(../images/salatki.png);
}

.category-6::before {
    background-image: url(../images/napoje.png);
}

.category a {
    text-decoration: none;
    width: -webkit-fill-available;
    color: #333;
    z-index: 1;
}

.category h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 3px;
    font-size: 16px;
    width: 100%;
    background-color: #f2f2f2;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
}

.main-section h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}

.main-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.ad-container {
    margin: 30px;
    cursor: pointer;
    width: 65%;
    height: 250px;
    background-image: url(../images/reklama-ikea.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Mobile Styles */
@media (max-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    nav div {
        display: none;
    }

    .menu-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: #333;
    }

    .menu-icon:hover {
        color: #5ba475;
    }

    .mobile-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 0 0 5px 5px;
        padding: 10px 0;
        z-index: 99;
    }

    .mobile-nav.active {
        display: flex;
    }

    .mobile-nav.active .mobile-category-container {
        display: block;
    }

    .mobile-nav.active .mobile-category-container .category {
        display: block;
    }

    .mobile-nav input[type="text"], .searchbar {
        width: calc(100% - 23px);
        text-align-last: center;
        margin: 0 auto !important;
        padding: 11px 0 !important;
    }

    .mobile-nav button {
        width: calc(100% - 23px);
        margin: 10px 0;
        border-radius: 6px;
    }

    .category-container {
        flex-direction: column;
        align-items: center;
    }

    .category {
        width: 100%;
        margin: 10px 0;
    }

    .category h3 {
        margin: 0;
    }

    .category-1::before, .category-2::before, .category-3::before, .category-4::before, .category-5::before, .category-6::before {
        background-size: 0;
    }

    .main-section {
        margin: 0 20px;
    }

    .main-section h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .main-section p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .ad-container {
        width: 100%;
        height: 200px;
        background-image: url(../images/reklama-ikea-mobile.png);
    }
}
